body {
    margin: 0;
    padding: 10px 50px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(64, 224, 208, 0.2);
    font-size: 1.2rem;
}
.use-keyboard-input{
    display: block;
    font-size: inherit;
    margin-top: 20px;
    width: 400px;
    height: 150px;
    background-color: rgba(64, 224, 208, 0.3);

}